@import "src/_base.scss";
.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element {
    border: $primary-border-color 1px solid;
    width: 3.6em;
    height: 3.6em;
    margin: 0.2em 0.2em ;
    text-align: center;
    user-select: none;
}