@import "src/_base.scss";
.root {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    display: flex;
    /*outline: green;*/
    flex-direction: column;
}

.header {
    /*outline: solid blue;*/
    background-color: $primary-background-color;
    border-bottom: $primary-border-color 1px solid;
    color: $primary-text-color;
    padding: 0.4em 0.4em;
}
.header > h1 {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
}

.middle {
    display: flex;
    flex-direction: row;
    /*outline: solid yellow;*/
    flex-grow: 1;
    overflow: hidden;
}

.footer {
    /*outline: solid purple;*/
    background-color: $primary-background-color;
    border-top: $primary-border-color 1px solid;
    color: $primary-text-color;
    padding: 0.2em 0.5em;
}

.left {
    /*outline: solid brown;*/
    background-color: $primary-background-color;
    border-right: $primary-border-color 1px solid;
    color: $primary-text-color;
    padding: 0;
    min-width: 10em;
}

.right {
    /*outline: solid purple;*/
    background-color: $primary-background-color;
    border-left: $primary-border-color 1px solid;
    color: $primary-text-color;
    padding: 0;
    min-width: 10em;
    overflow-y: scroll;
}
.main {
    /*outline: solid red;*/
    flex-grow: 1;
    overflow: scroll;
}
