
$primary-background-color: #2e2e2e;
$primary-border-color: #595959;
$primary-text-color: #bfbfbf;

$title-background-color: #464646;
$selected-border-color: #595959;

$secondary-background-color: #444;
$secondary-border-color: #313335;
